<%# include relative path to the partials file %>
<% include ../partials/header.ejs  %>

<h1>NEW ADMIN FORM</h1>

<form method="post" action="/admin">
  <div class="form-group">
    <label for="name">Admin Username</label>
    <input type="text" class="form-control" id="name" name="newadmin[name]" placeholder="Put your username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="newadmin[password]" placeholder="Key in your password">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="newadmin[email]" placeholder="Key in your email">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<% include ../partials/footer.ejs  %>
